.hero-banner {
  position: relative;
}

.hero-banner::after {
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: -50px;
  left: 0;
  background: linear-gradient(to top, #000, #000);
  filter: blur(2rem);
}

.tab-items {
  text-align: end;
}
.tabs-menu-2 {
  margin-right: 0;
  margin-left: 80px;
}
/* Roadmap */
.my-slider-progress {
  background: #ccc;
  margin-top: 16px;
  width: 80%;
  margin: 24px auto 0;
}

.my-slider-progress-bar {
  background: #fe4839;
  height: 2px;
  transition: width 400ms ease;
  width: 0;
}

.roadmap-item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  color: #d5d2cc;
}

.team-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.team-wrapper .team-left {
  width: 40%;
}
.team-wrapper .team-right {
  width: 60%;
}

.team-slide-item {
  /* height: 300px; */
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
}

.splide-team .team-slide-item.is-active {
  border-color: rgba(254, 73, 57, 0.5);
}
.team-description {
  font-family: db adman x, sans-serif;
  color: #d5d2cc;
  font-size: 26px;
  line-height: 1.1em;
  letter-spacing: 0.07px;
}
.team-name {
  margin-top: 16px;
  font-size: 24px;
  color: #fff;
}

.splide-team .team-slide-item.is-active .team-name {
  color: #b33025;
}
.team-position {
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.6);
}
.team-social {
  margin-top: 16px;
}

.team-social .icon-social {
  padding: 8px;
  background: #8080808f;
  border-radius: 8px;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.brand {
  max-width: 120px !important;
}

.button {
  background-color: #b33025 !important;
}

.hero-wrapper-reverse {
  align-items: baseline !important;
}

/* color: #ff4839;
letter-spacing: 1px; */

/* font-family: db adman x, sans-serif;
color: #d5d2cc;
font-size: 26px;
line-height: 1.1em;
letter-spacing: 0.07px; */
.roadmap-wrapper {
  margin-top: 20px;
}
.roadmap-item-content {
  font-family: db adman x, sans-serif;
  color: #d5d2cc;
  font-size: 26px;
  line-height: 1.2em;
  font-weight: 400;
  cursor: pointer;
}

.nav-link.bg:hover {
  background-color: #b33025 !important;
}

.nav-link.bg {
  border-color: #b33025 !important;
}
.social-icans {
  width: 24px !important;
}

.f-social-links {
  max-width: unset !important;
  justify-content: center !important;
  align-items: center !important;
}

.splide__pagination {
  display: none !important;
}

.div-block-2 {
  display: none !important;
}

/* Menu */
.social {
  display: flex;
  align-items: center;
}
.menu-desktop {
  display: flex;
  justify-content: center;
}

.menu-desktop .sub-menu {
  /* display: flex; */
  /* flex-direction: column; */
  display: none;
  position: absolute;
  padding: 12px;
  background: #1f1f1f;
  border-radius: 12px;
  width: max-content;
}

.menu-home-wrapper {
  position: relative;
  display: block;
}

.menu-desktop:hover .sub-menu {
  display: flex;
  flex-direction: column;
}

.navbar-flex {
  gap: 16px;
}

.new-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navbar {
  padding: 8px 20px !important;
}

/* Custom */
.btn-wrapper {
  display: flex;
  gap: 16px;
  width: 100%;
}

.button.btn-primary {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 34px;
  padding-right: 16px;
  padding-left: 16px;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-align: center;
}

.mailto {
  text-decoration: none;
  font-family: dm sans, sans-serif;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 17px;
}

.mailto:hover {
  color: #ff4839;
}

.banner-img {
  width: 100% !important;
}

.partner-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-auto-rows: min-content;
  gap: 2rem;
  margin-top: 2rem;
}

.partner-wrapper .partner-img {
  width: 100%;
  height: auto;
}

.game-section {
  position: relative;
  padding: 40px 30px;
  border-bottom: 1px #e4ebf3;
  background-color: transparent;
}

.game-wrapper {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.game-wrapper .game-img {
  flex: 1;
}
.game-wrapper .game-content {
  flex: 1;
}
.game-title {
  text-align: right;
}

.game-content > ul {
  color: #d5d2cc;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.game-video {
  max-width: 80%;
  margin: 32px auto;
}

.game-video > iframe {
  width: 100%;
}

.game-button {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 16px;
  width: 100%;
  justify-content: center;
  margin-top: 32px;
}

.game-button img {
  width: 42px;
  height: 42px;
}

.game-button .game-btn {
  display: flex;
  gap: 16px;
  align-items: center;
  text-decoration: none;
  color: #d5d2cc;
  padding: 8px 16px;
  border: 1px solid #fff;
  border-radius: 8px;
}

.game-btn .btn-content {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.game-btn .btn-content .game-system {
  font-size: 24px;
}

.hero-banner .banner-contract {
  position: absolute;
  top: 72px;
  left: 50%;
  transform: translate(-50%, 0px);
  color: #c73a2f;
  font-size: 22px;
  font-weight: bold;
  padding: 8px 16px;
  border: 1px solid #c73a2f;
  border-radius: 8px;
  background: rgb(0 0 0 / 80%);
  width: max-content;
}

@media screen and (max-width: 767px) {
  .team-wrapper {
    flex-direction: column;
  }
  .team-wrapper .team-left,
  .team-wrapper .team-right {
    width: 100%;
  }

  .partner-wrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 8px;
  }
  .button {
    font-size: 16px !important;
  }
  .game-wrapper {
    flex-direction: column;
  }
  .game-button {
    grid-template-columns: auto auto;
    gap: 8px;
    width: 100%;
  }
  .game-button .game-btn {
    gap: 8px;
    padding: 4px 8px;
  }
  .game-btn span {
    font-size: 14px;
  }
  .game-btn .game-system {
    font-size: 16px !important;
  }
  .game-video iframe {
    height: auto !important;
  }
  .hero-banner .banner-contract {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  .menu-desktop {
    display: none !important;
  }
  .div-block-2 {
    display: flex !important;
  }
  .btn-mint {
    display: none;
  }
  .new-menu {
    justify-content: initial !important;
  }
}
